{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            color: #c61010;
            height: 100vh;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
            text-align: center;
            position: relative;
        }
        h1 {
            color: #f7f8f5;
            margin-bottom: 30px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }
        .transparent-bg {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px 0;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        li {
            font-size: 18px;
            text-align: center;
            border-radius: 10px;
            background-color: #01040688;
            padding: 10px 15px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease;
        }
        li:hover {
            transform: translateY(-5px);
            background-color: #0056b3;
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
        }
        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
    </style>

    <div class="container">
        <h1>
            <div class="transparent-bg">KitapFirsati.com</div>
        </h1>
        <ul>
            <li><a href="/edebiyat">Edebiyat Kitapları</a></li>
            <li><a href="/bilim">Bilim Kitapları</a></li>
            <li><a href="/cizgiromanlar">Çizgi Romanlar</a></li>
        </ul>
    </div>
{% endblock %}
